body{
    color: #eee;
    font-family: Poppins;
    margin: 0;
    
}

::-webkit-scrollbar{
    width: 0;
}


main{
}
main .banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: -70px;
}

.banner button{
    all: unset;
    border: 1px solid #afaeae55;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(
        to bottom, #eee1, transparent, #eee1
    );
    cursor: pointer;
    transition: 0.5s;
}
.banner button:hover{
    background-color: #1b4d3e;
    color: #040018;
    box-shadow: 0 0 50px #3db692;
    
}

.banner{
    position: relative;
}
.banner #dotsCanvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
